<tr class="hidden-table hidden">
  <td>
    <strong>
      Quarter
    </strong>
    <p>
      <%= stock_history.quarter %>
    </p>
  </td>
  <td>
    <strong>
      Shares bought/sold
    </strong>
    <p>
      <%= stock_history.shares_bought_sold %>
    </p>
  </td>
  <td>
    <strong>
      % Change
    </strong>
    <p>
      <%= stock_history.percentage_change %>
    </p>
  </td>
  <td>
    <strong>
      Quarter End Shares
    </strong>
    <p>
      <%= stock_history.quarter_end_shares %>
    </p>
  </td>
  <td>
    <strong>
      Average Price
    </strong>
    <p>
      <%= stock_history.avg_price %>
    </p>
  </td>
</tr>

