<td>
  <p>
    <%= stock_history.market_cap %>
  </p>
</td>
<td>
  <p>
    <%= stock_history.shares %>
  </p>
</td>
<td>
  <p>
    <%= stock_history.value %>
  </p>
</td>
<td>
  <p>
    <%= stock_history.percentage_weight %>
  </p>
</td>
<td>
  <p>
    <%= stock_history.percentage_share_change_from_last_q %>
  </p>
</td>
<td>
  <p>
    <%= stock_history.percentage_shares_outstanding %>
  </p>
</td>
<td>
  <p>
    <%= stock_history.three_month_percentage_change %>
  </p>
</td>
<td>
  <p>
    <%= stock_history.ytd_percentage_change %>
  </p>
</td>


