<% highlighted_article =  @api_response.first["articles"].first %>
<div class="home-news-card">
  <%= link_to highlighted_article["url"] do %>
  <div class="home-news-image" style="background-image: url('<%= highlighted_article["urlToImage"] %>')">
  </div>
  <div class="content">
    <h4><%= highlighted_article["title"] %></h4>
    <p class="de-emphasis date">
      <%= highlighted_article["publishedAt"] %>
    </p>
    <p class="de-emphasis">
      <%= highlighted_article["author"] %>
    </p>
    <p class="main-text">
      <%= highlighted_article["description"] %>
    </p>
    <% end %>
    <div class="home-news-main-site">
      <%= link_to "www.bloomberg.com", class: "de-emphasis" %>
    </div>
  </div>
</div>
