<div class="container">
  <div class="row">
    <% @api_response.first["articles"].first(5).each do |article| %>
    <div class="col-xs-12 col-sm-6">
      <div class="trips-reservation-card">
        <div class="trips-reservation-image" style="background-image: url('<%= article["urlToImage"] %>')"></div>
        <div class="trips-reservation-card-content">
          <div><h2><%= article["description"] %></h2></div>
          <p><i class="fa fa-globe" aria-hidden="true"></i> <%= trip.scooter.location %></p>
          <div class="trips-reservation-price"><i class="fa fa-dollar" aria-hidden="true"></i> <%= trip.scooter.price %>/day</div>
          <p>Owned by: <%= owner.first_name.capitalize %> <%= owner.last_name.capitalize %></p>
          <p>Trip duration: <%= trip.start_date %> - <%= trip.end_date %></p>
          <p class="trips-reservation-price">Total: <i class="fa fa-dollar" aria-hidden="true"></i> <%= trip.total_price %></p>
          <p>
            Status: <%= trip.status %></p>
            <div class="reservation-btn-container">
              <%= link_to "cancel", cancel_trip_path(trip), method: :patch, class: "btn btn-warning" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= @api_response %>



