<div class="tour-banner" style="background-image: url('<%= image_path 'stockowl_howitworks_banner.png' %>');">
</div>
<div class="tour-benefits," style="margin-top: 100px; margin-bottom: 100px; color: grey; font-family: serif;">
  <center>
    <h4>
      With your free account, you can...
    </h4>
  </center>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card-tour center">
        <%= image_tag "bar-chart.png" %>
        <p class="text-center," style="margin-top: 40px; margin-bottom: 100px; color: grey; font-family: serif;">
          Track master investor's portfolios!
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-tour center">
        <%= image_tag "gift.png" %>
        <p class="text-center," style="margin-top: 40px; margin-bottom: 100px; color: grey; font-family: serif;">
          Enter our awesome monthly contests!
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-tour center">
        <%= image_tag "cheers.png" %>
        <p class="text-center," style="margin-top: 40px; margin-bottom: 100px; color: grey; font-family: serif;">
          Join our social events!
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-tour center">
        <%= image_tag "news.png"%>
        <p class="text-center," style="margin-top: 40px; margin-bottom: 100px; color: grey; font-family: serif;">
          Even catch up on the latest news!
        </p>
      </div>
    </div>
  </div>
</div>

