
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
    // google.charts.setOnLoadCallback(drawVisualizationForModal<%= stock_id %>);

    function drawVisualizationForModal<%= stock_id %>() {
      // Some raw data (not necessarily accurate)
      var data = google.visualization.arrayToDataTable(<%= raw quarters_combo_chart_data.to_json %>);

      var options = {
        vAxes: [
        {
          title: "Quarter end shares"
          }, // Nothing specified for axis 0
          {
            title:'Average price',
          }
          ],
          hAxis: {title: ''},
          chartArea: {width:'50%',height:'80%'},
          height: 250,
          width: 700,
          seriesType: 'bars',
          series: {1: {type: 'line', targetAxisIndex: 1}},
          legend:{ position: 'none' }
        };


        var chart = new google.visualization.ComboChart(document.getElementById('chart_div<%= stock_id %>'));
        chart.draw(data, options);
      }
    </script>

    <div id="chart_div<%= stock_id %>" style="width: 1200px; height: 350px;"></div>
