<td class="text-left">
  <%= investor_stock.stock.ticker %>
</td>
<td class="text-left">
  <%= investor_stock.stock.company_name %>
</td>
<td class="text-left">
  <%= investor_stock.stock.sector %>
</td>
<td class="text-right">
  <%= number_with_precision(investor_stock.stock.current_price, precision: 2) %>
</td>
<td class="text-right">
  <%= number_with_delimiter(investor_stock.stock.market_cap_in_millions.round(0)) %>
</td>
<td class="text-right">
  <%=
  number_with_delimiter(investor_stock.shares_total_count)
  %>
</td>
<td class="text-right">
  <%= number_with_delimiter(investor_stock.latest_quarter_shares_total_value) %>
</td>
<td class="text-right">
  <%= number_with_precision(investor_stock.percentage_weight_compared_to_portfolio_total_value, precision: 2) %>%
</td>
<td class="text-right <%= stock_change_css_class(investor_stock.investor_stock_quarters.last.percentage_change_in_owned_shares_from_last_quarter) if investor_stock.investor_stock_quarters.last %>">
  <% if investor_stock.investor_stock_quarters.last %>
    <% if investor_stock.investor_stock_quarters.last.percentage_change_in_owned_shares_from_last_quarter %>
      <% if investor_stock.investor_stock_quarters.last.percentage_change_in_owned_shares_from_last_quarter == -100 %>
        <span class="stock-sold-out">SOLD OUT</span>
      <% else %>
        <%= number_with_precision(investor_stock.investor_stock_quarters.last.percentage_change_in_owned_shares_from_last_quarter, precision: 2) %>%
      <% end %>
    <% else %>
      <span class="stock-new-buy">NEW BUY</span>
    <% end %>
  <% else %>
    -
  <% end %>
</td>
<td class="text-right">
  <%= number_with_precision(investor_stock.percentage_shares_outstanding, precision: 2) %>%
</td>
<td class="text-right <%= stock_change_css_class(investor_stock.stock.percentage_three_last_months_price_change) %>">
  <%= number_with_precision(investor_stock.stock.percentage_three_last_months_price_change, precision: 2) %>%
</td>
<td class=" text-right <%= stock_change_css_class(investor_stock.stock.percentage_year_to_date_price_change) %>">
  <%= number_with_precision(investor_stock.stock.percentage_year_to_date_price_change, precision: 2) %>%
</td>


