<td>
  <p>
    <%= portfolio_stock_data.market_cap %>
  </p>
</td>
<td>
  <p>
    <%= portfolio_stock_data.shares %>
  </p>
</td>
<td>
  <p>
    <%= portfolio_stock_data.value %>
  </p>
</td>
<td>
  <p>
    <%= portfolio_stock_data.percentage_weight %>
  </p>
</td>
<td>
  <p>
    <%= portfolio_stock_data.percentage_share_change_from_last_q %>
  </p>
</td>
<td>
  <p>
    <%= portfolio_stock_data.percentage_shares_outstanding %>
  </p>
</td>
<td>
  <p>
    <%= portfolio_stock_data.three_month_percentage_change %>
  </p>
</td>
<td>
  <p>
    <%= portfolio_stock_data.ytd_percentage_change %>
  </p>
</td>


