<h3>Portfolio Profile</h3>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">

      <%= image_tag @investor.photo, class: "investor-photo" %>
    </div>
    <div class="col-xs-3">
      <table class="profile-table">
        <tbody>
          <tr>
            <td>
              Manager:
            </td>
            <td>
              <%= @investor.first_name %> <%= @investor.last_name %>
            </td>
          </tr>
          <tr>
            <td>
              Fund Name:
            </td>
            <td>
             <%= @investor.fund_name %>
           </td>
         </tr>
         <tr>
          <td>
            Portfolio Value:
          </td>
          <td>
            <%= @investor.portfolio_value %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-4">
    <%= render "pie_chart", sectors_pie_chart_data: @sectors_pie_chart_data %>
  </div>
</div>
</div>


<table class="highlighter">
  <thead>
    <tr>
      <th class="text-left">
        <%= link_to investor_path(@investor, sort: (params[:sort] == 'ticker-asc' ? 'ticker-desc' : 'ticker-asc')) do %>
        Ticker
        <% end %>
      </th>
      <th class="text-left">
        Company
      </th>
      <th class="text-left">
        <%= link_to investor_path(@investor, sort: (params[:sort] == 'sector-asc' ? 'sector-desc' : 'sector-asc')) do %>
        Sector
        <% end %>
      </th>
      <th class="text-right">
        Current Price
      </th>
      <th class="text-right">
        <%= link_to investor_path(@investor, sort: (params[:sort] == 'mcap-desc' ? 'mcap-asc' : 'mcap-desc')) do %>
        Market Cap  (in $ Mil)
        <% end %>
      </th>
      <th class="text-right">
        Shares
      </th>
      <th class="text-right">
        Value ($1000)
      </th>
      <th class="text-right">
        <%= link_to investor_path(@investor, sort: (params[:sort] == 'weight-desc' ? 'weight-asc' : 'weight-desc')) do %>
        % Weight
        <% end %>
      </th>
      <th class="text-right">
        <%= link_to investor_path(@investor, sort: (params[:sort] == 'share-change-desc' ? 'share-change-asc' : 'share-change-desc')) do %>
          % Share Change from last Q
        <% end %>
      </th>
      <th class="text-right">
        <%= link_to investor_path(@investor, sort: (params[:sort] == 'sharesout-desc' ? 'sharesout-asc' : 'sharesout-desc')) do %>
        % Shares Outstanding
        <% end %>
      </th>
      <th class="text-right">
       <%= link_to investor_path(@investor, sort: (params[:sort] == '3mchange-desc' ? '3mchange-asc' : '3mchange-desc')) do %>
       3M % Change
       <% end %>
     </th>
     <th class="text-right">
       <%= link_to investor_path(@investor, sort: (params[:sort] == 'ytdchange-desc' ? 'ytdchange-asc' : 'ytdchange-desc')) do %>
       YTD % Change
       <% end %>
     </th>
   </tr>
 </thead>
 <tbody>
  <% @investor_stocks.each do |investor_stock| %>
  <tr>
    <%= render partial: "investor_stock", locals: { investor_stock: investor_stock } %>

    <td>
      <button class="waves-effect waves-light btn modal-trigger brand-blue" href="#modal<%= investor_stock.stock.id %>" onclick="drawVisualizationForModal<%= investor_stock.stock.id %>()">History</button>
    </td>
  </tr>
  <% end %>
</tbody>
</table>

<% @investor.investor_stocks.each_with_index do |investor_stock, index| %>
<!-- Modal Structure -->
<div id="modal<%= investor_stock.stock.id %>" class="modal bottom-sheet">
  <div class="modal-content">
    <div class="row">
      <div class="col-xs-6">
        <h4><%= investor_stock.stock.ticker %> ($<%= investor_stock.stock.current_price %>) - <%= @investor.first_name %> <%= @investor.last_name %> holding history</h4>
        <%= render partial: "holding_history", locals: { investor_stock_quarters: investor_stock.investor_stock_quarters } %>
      </div>
      <div class="col-xs-6">
        <%= render partial: "combo_chart", locals: { quarters_combo_chart_data: @quarters_combo_chart_data[index], stock_id: investor_stock.stock.id} %>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div> -->
</div>
<% end %>
