<h3>Portfolio Profile</h3>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">

      <%= image_tag @investor.photo, class: "investor-photo" %>
    </div>
    <div class="col-xs-3">
    <table class="profile-table">
        <tbody>
          <tr>
            <td>
              Manager:
            </td>
            <td>
              <%= @investor.first_name %> <%= @investor.last_name %>
            </td>
          </tr>
          <tr>
            <td>
              Fund Name:
            </td>
            <td>
             <%= @investor.fund_name %>
           </td>
         </tr>
         <tr>
          <td>
            Portfolio Value:
          </td>
          <td>
            <%= @investor.portfolio_value %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-4">
    <%= render "pie_chart", sectors_pie_chart_data: @sectors_pie_chart_data %>
  </div>
</div>
</div>


<table class="highlighter">
  <thead>
    <tr>
      <th>
        Ticker
      </th>
      <th>
        Company
      </th>
      <th>
        Sector
      </th>
      <th>
        Current Price
      </th>
      <th>
        Market Cap ($ Mil)
      </th>
      <th>
        Shares
      </th>
      <th>
        Value ($1000)
      </th>
      <th>
        % Weight
      </th>
      <th>
        % Share Change from last Q
      </th>
      <th>
        % Shares Outstanding
      </th>
      <th>
        3M % Change
      </th>
      <th>
        YTD % Change
      </th>
    </tr>
  </thead>
  <tbody>
    <% @investor.investor_stocks.each do |investor_stock| %>
    <tr>
      <%= render partial: "investor_stock", locals: { investor_stock: investor_stock } %>

      <td>
        <button class="waves-effect waves-light btn modal-trigger brand-blue" href="#modal<%= investor_stock.stock.id %>" onclick="drawVisualizationForModal<%= investor_stock.stock.id %>()">History</button>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% @investor.investor_stocks.each_with_index do |investor_stock, index| %>
<!-- Modal Structure -->
<div id="modal<%= investor_stock.stock.id %>" class="modal bottom-sheet">
  <div class="modal-content">
    <div class="row">
      <div class="col-xs-6">
        <h4><%= investor_stock.stock.ticker %> ($<%= investor_stock.stock.current_price %>) - <%= @investor.first_name %> <%= @investor.last_name %> holding history</h4>
        <%= render partial: "holding_history", locals: { investor_stock_quarters: investor_stock.investor_stock_quarters } %>
      </div>
      <div class="col-xs-6">
        <%= render partial: "combo_chart", locals: { quarters_combo_chart_data: @quarters_combo_chart_data[index], stock_id: investor_stock.stock.id} %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
<% end %>
