<div class="accounts-show-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 25%), url('<%= image_path 'stockowl_accounts_show_bg.jpg' %>');">
</div>

<div class="user-description-container">
  <div class="image-container">
    <img alt="User Pic" src=<%= @account.photo %> class="img-circle img-responsive">

  </div>
</div>

<div class="edit-container">
    <%= simple_form_for @account, html: { class: "form-inline"}, :url => account_path, :method => :patch do |f| %>
    <%= f.error_notification %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :username %>
    <%= f.input :email %>

    <%= f.button :submit, class: "btn btn-primary"  %>
    <% end %>
</div>



